<div class="infoSideBar">
    <h1 class="logoApp display-4">MapApp</h1>

    <div class="infoSideBar-block">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="blockTitle">Test Man</h2>
            <div>
                <button type="button" class="btn btn-light btn-sm">Settings<span><i class="fas fa-cog"></i></span></button>
                <button type="button" class="btn btn-link btn-sm" style="color: #212529;"><i class="fas fa-sign-out-alt"></i></button>
            </div>
        </div>
        <div class="d-flex">
            <div>
                <img class="userAvatar" src="https://i1.wp.com/www.winhelponline.com/blog/wp-content/uploads/2017/12/user.png?fit=256%2C256&quality=100&ssl=1" />
                <p class="text-center userStatus">Online</p>
            </div>
            <p class="userDecription text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        </div>
    </div>
    
    <div class="infoSideBar-block">
        <h2 class="blockTitle">Search</h2>
        <input type="search" class="form-control" id="search-input" placeholder="Enter here place you'd like to visit..."/>
    </div>

    <div class="infoSideBar-block">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="blockTitle">My places</h2>
            <button type="button" class="btn btn-primary btn-sm">Plan my trip!<span><i class="fas fa-location-arrow"></i></span></button>
        </div>
        <div id="placeLoaded">
            @Html.Action("RenderPlaces", "Home", null)
        </div>
    </div>
</div>
