html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    overflow-x: hidden;
}

/*Info Side Bar*/

.infoSideBar {
    padding: 0 0 25px 25px;
}

.infoSideBar-block {
    margin-top: 20px;
}

.logoApp {
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid #999;
}

.blockTitle {
    font-weight: 300;
}

.userAvatar {
    height: 80px;
}

.userStatus {
    font-size: 10px;
    margin-top: 5px;
    color: blue;
}



.userDecription {
    padding-left: 15px;
}
.infoSideBar-block button span {
    margin-left:  10px;
}

.overflowScroll {
    overflow-y: scroll;
}

.overflowScroll::-webkit-scrollbar {
     width: 0;
}

.placeItem:hover {
    border-bottom: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
}

.placeItem:hover .btnDelete {
    opacity: 1;
}

.img-wrapper {
    max-width: 30%;
    overflow: hidden;
}

.placePhoto {
    width: 100%;
}

.btnDelete {
    opacity: 0;
    margin-bottom: 1rem;
    color: #dcdcdc;
}

.btnDelete:hover {
    color: #bc8f8f;
}

/*Identification*/

.identification-wrapper {
     height: 100%; 
     display: flex; 
     align-items: center;
    z-index: 99999;
}

#loginForm_btn {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 10px;
}

#video-bg-identification {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.alert-popup {
    position: fixed;
    z-index: 999;
    top: 3%;
    right: 3%;
}


/*Map*/

#map {
    height: 100%;
}

.markerInfo {
    height: 150px;    
    width: 250px;
}

#infowindow-content {
    padding: 10px;
    display: flex;
}

#infowindow-content .title {
    font-weight: bold;
}

.infowindow-content__photo {
    height: 100px;
}

.infowindow-content__rating {
    font-weight: bold;
}

.infowindow-content__text {
    width: 100%;
    padding-left: 20px;
}


@media (max-width: 768px) {
    #loginForm_btn {
        position: relative;
        margin: 0;
    }
}