<video autoplay muted loop id="video-bg-identification">
  <source src="../assets/Home_work.mp4" type="video/mp4">
</video>
<div class="identification-wrapper">
  <div class="container">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-body">
                      <div class="row">
                          <div class="col-md-12">
                              <h1 class="text-center">Welcome to MapApp!</h1>
                          </div>
                      </div>
                      <div class="row position-relative">
                          <div class="col-md-6 col-sm-12">
                            <app-sign-in></app-sign-in>
                          </div>
                          <div class="col-md-6 col-sm-12">
                              <app-sign-up></app-sign-up>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>